body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.landing-page {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  bottom: 2.6rem;
  width: 375px;
  height: 667px;
  background: #38846D;
  overflow: hidden;
}

.landing-page #right-flower {
  position: relative;
  inset: 0 0 0 14.5rem;
}

.landing-page #left-flower {
  position: relative;
  inset: -.1rem 0 0 -9rem;
}

.landing-page #loader {
  position: relative;
  /* For some reason, setting margin right to positive did not work */
  inset: 0 0 0 -65%;
}

.menu-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 375px;
  height: 839px;
  background: #F3E4E1;
  overflow: hidden;
}

.menu-page #top-flower {
  position: absolute;
  inset: 0 0 0 0;
}

.menu-page #bottom-flower {
  position: absolute;
  inset: 48rem 0 0 0;
}

.menu-page #meny-header {
  position: absolute;
  bottom: 40rem;
  color: #2F2926;
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 42px;
}

.menu-layout {
  position: relative;
  top: 3%;
  width: 311px;
  height: 474px;
  /* background-color: blue; */
}

.menu-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  word-break: break-all;
  word-wrap: break-word;
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  left: 4%;
  font-family: "PT Serif";
  font-size: 23px;
  font-weight: 700;
}

.price {
  font-weight: 700;
  font-family: "PT Serif";
  font-size: 23px;
}

.menu-item p {
  position: relative;
  bottom: 50%;
  right: 10%;
  /* font-family: "Work Sans"; */
  font-weight: 400;
  font-size: 12px; 
}

.container-dots {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  flex: 1;
  margin-bottom: 5.5%;
}

#add-button:hover {
  background-color: #423b37;
}

#add-button {
  background: url("assets/graphics/add.svg");
  background-color: #2F2926;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
}

#bag-button {
  background: url("assets/graphics/bag.svg");
  position: relative;
  top: 6.5rem;
  left: 19rem;
  background-color: #2F2926;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  z-index: 1;
}

#bag-button:hover {
  background-color: #423b37;
}

.bag #counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2.5rem;
  left: 28em;
  z-index: 1;
  color: white;
  background-color: #E5674E;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 12px;
  font-family: "PT Serif";
}

.cart {
  display: flex;
  position: relative;
  bottom: 3rem;
  right: 3.2rem;
  width: 375px;
}
.cart .menu-page {
  height: 656px;
  opacity: 30%;
}

.cart .menu-overlay {
  background-color: black;
}

.cart .menu-page #meny-header {
  position: absolute;
  top: 15%;
}

.cart .menu-layout {
  position: relative;
  top: 20%;
}

.cart .cart-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 337px;
  height: 566px;
  inset: 4.1rem 0 0 4.3rem;
  background-color: white;
  z-index: 2;
  border-radius: 5px 5px 5px 5px;
}

.cart #bag-button {
  top: 1rem;
  left: 22.2rem;
}

.cart .bag #counter {
  top: -3rem;
  left: 32.3em;
}

.triangle {
  position: absolute;
  left: 23.3rem;
  top: 3.6rem;
  -webkit-text-stroke: 7px white;
  z-index: 2;
}

.cart #your-order-header {
  position: absolute;
  top: 5rem;
  left: 8.2rem;
  color: #2F2926;
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 32px;
  z-index: 2;
}

.cart #confirm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5rem;
  left: 7rem;
  width: 248px;
  height: 55px;
  background-color: #2F2926;
  z-index: 2;
  border-radius: 50px;
}

#confirm-btn h1 {
  color: white;
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 24px;
}

.cart #confirm-btn:hover {
  background-color: #423b37;
}

.order-page {
  position: absolute;
  bottom: 25.8%;
  right: 30.5%;
  text-align: center;
  background-color: #E5674E;
  width: 375px;
  height: 667px;
}

.order-page .order-number {
  position: relative;
  top: 62px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 70%;
}

.order-page #order-number-id {
  font-weight: 700;
  margin-left: 1.5%;
}

.order-page img {
  position: relative;
  top: 13.5%;
}

.order-page h1, .order-page h2 {
  position: relative;
  top: 18%;
  color: white;
  font-family: "PT Serif";
}

.order-page h1 {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 36px;
  font-weight: bold;
}

.order-page h1 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 36px;
  font-weight: bold;
}

.order-time {
  position: relative;
  top: 15.5%;
  display: flex;
  justify-content: center;
  gap: 1.5%;
}

.order-page #order-time-id {
  font-family: "Work Sans";
  font-weight: 400;
}

.order-page button {
  position: relative;
  top: 23%;
  width: 184px;
  height: 55px;
  border-radius: 50px;
  color: white;
}

.order-page #button-font {
  position: relative;
  bottom: 20%;
  font-family: "PT Serif";
  font-weight: 700;
  color: #2F2926;
  font-size: 24px;
}

.item-summary {
  display: flex;
  width: 500px;
  height: auto;
  background-color: blue;
  z-index: 100000;
}

.item-summary .container-dots{
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  flex: 1;
  margin-bottom: 6%;
}

.item-summary li {
  list-style: none;
}

ul > li {
  display: block;
}

.total-summary {
  display: flex;
  justify-content: center;
  
}

.total-summary h3 {
  font-size: 24px;
}
.total-summary .container-dots {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  flex: 1;
  margin-bottom: 4.9%;
}

.item-summary #arrow-up {
  background: url("assets/graphics/arrow-up.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* border: none; */
  z-index: 1;
}

.item-summary #arrow-down {
  background: url("assets/graphics/arrow-down.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* border: none; */
  z-index: 1;
}






